{{- range .Values.extraSecrets -}}
{{- if .data -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  labels:
    {{- include "chartname.labels" $ | nindent 4 }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- range $key, $val := .data }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end }}
---
{{- end -}}
{{- end -}}
